---
import User from "../assets/MohammadHasani.jpg";
---

<section class="about" id="about">
  <figure class="about-picture">
    <img style="width: 140px;" src={User.src} alt="Juan Garcia picture" />
  </figure>
  <article class="about-bio">
    <h2 class="heading-2">
      Hey, I'm Mohammad, a passionate software engineer with 5+ years of
      experience in the industry. I also have a thing for data.
    </h2>
    <p class="text-normal">
      I have been working in the field of software engineering for 5 years and
      this work is sacred to me. I launched Deerlyon April 23, 2023 and
      then RavensAi on February 28, 2024, which is very valuable to me. My
      passion lies in working on these two projects and every day I develop them
      with all my energy and seek to create value. Software engineering is not
      just a job for me. This is a love, a reason for my existence in this
      world.
    </p>
    <p class="text-normal">
      As a software engineer, what excites me more than anything else is
      building software that is not only useful for myself but also valuable and
      practical for others. This passion for sharing and collaboration has led
      me to the world of open-source software. In this space, boundaries are
      broken, and creativity from around the world comes together to create
      something greater and better.
    </p>
    <p class="text-normal">
      My focus has always been on transforming ideas into digital realities,
      using cutting-edge technologies and agile methodologies. This passion for
      creation and problem-solving has led me to constantly explore new trends
      and stay updated in a technology landscape that is always evolving
    </p>
    <p class="text-normal">
      When I collaborate on open-source projects, I not only contribute to my
      own growth but also become a small part of a global community of
      developers who are thinking about a purpose greater than themselves.
    </p>
    <p class="text-normal">
      Every time I write a new line of code or solve a complex problem, I feel
      that I am adding value not just to myself but to the world around me. This
      sense of responsibility and impact is what drives me every day and makes
      me more and more passionate about developing open-source software with
      Golang.
    </p>
  </article>
</section>
