<section class="contact" id="contact">
  <h2 class="heading-2">
    Got a great <span class="violet">idea</span> or an exciting <span
      class="green">project ?</span
    > Let's team up and make something amazing together!
  </h2>
  <ul class="social">
    {[
      { href: "mailto:m789219@gmail.com", text: "Email", icon: "ri-mail-fill" },
      { href: "https://x.com/code_mohammad", text: "X", icon: "ri-twitter-x-line" },
      { href: "https://www.linkedin.com/in/mohammad-mahdi-hasani-4bb47b344", text: "Linkedin", icon: "ri-linkedin-fill" },
      { href: "https://github.com/mohammadhasanii", text: "Github", icon: "ri-github-fill" },
      { href: "https://medium.com/@Mohammadhasani", text: "Medium", icon: "ri-medium-line" },
      { href: "https://www.npmjs.com/~mohammadhasani", text: "Npm", icon: "ri-npmjs-line" },
      { href: "https://www.patreon.com/MohammadHasanii", text: "Patreon (Donate)", icon: "ri-patreon-line" }
    ].map(({ href, text, icon }) => (
      <li>
        <a href={href} target="_blank" role="button" class="button">
          <span class="button-text">{text}</span>
          <span class="button-box-icon">
            <i class={icon}></i>
          </span>
        </a>
      </li>
    ))}
  </ul>
  <footer class="contact-footer">
    <p class="text-normal">© 2025 Mohammad Hasani. All rights reserved.</p>
  </footer>
</section>
