<section class="contact" id="contact">
  <h2 class="heading-2">
    Got a great <span class="violet">idea</span> or an exciting <span
      class="green">project ?</span
    > Let's team up and make something amazing together!
  </h2>
  <ul class="social">
    <li>
      <a href="mailto:m789219@gmail.com" role="button" class="button">
        <span class="button-text">Email</span>
        <span class="button-box-icon">
          <i class="ri-mail-fill"></i>
        </span>
      </a>
    </li>
    <li>
      <a
        href="https://x.com/code_mohammad"
        target="_blank"
        role="button"
        class="button"
      >
        <span class="button-text">Twitter</span>
        <span class="button-box-icon">
          <i class="ri-twitter-fill"></i>
        </span>
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/mohammad-mahdi-hasani-511523261"
        target="_blank"
        role="button"
        class="button"
      >
        <span class="button-text">Linkedin</span>
        <span class="button-box-icon">
          <i class="ri-linkedin-fill"></i>
        </span>
      </a>
    </li>
    <li>
      <a
        href="https://github.com/mohammadhasanii"
        target="_blank"
        role="button"
        class="button"
      >
        <span class="button-text">Github</span>
        <span class="button-box-icon">
          <i class="ri-github-fill"></i>
        </span>
      </a>
    </li>
    <li>
      <a
        href="https://medium.com/@Mohammadhasani"
        target="_blank"
        role="button"
        class="button"
      >
        <span class="button-text">Medium</span>
        <span class="button-box-icon">
          <i class="ri-medium-line"></i>
        </span>
      </a>
    </li>
    <li>
      <a
        href="https://www.npmjs.com/~mohammadhasani"
        target="_blank"
        role="button"
        class="button"
      >
        <span class="button-text">Npm</span>
        <span class="button-box-icon">
          <i class="ri-npmjs-line"></i>
        </span>
      </a>
    </li>

    <li>
      <a
        href="https://www.patreon.com/MohammadHasanii"
        target="_blank"
        role="button"
        class="button"
      >
        <span class="button-text">Patreon (Donate)</span>
        <span class="button-box-icon">
          <i class="ri-patreon-line"></i>
        </span>
      </a>
    </li>
  </ul>
  <footer class="contact-footer">
    <p class="text-normal">© 2024 Mohammad Hasani. All rights reserved.</p>
  </footer>
</section>
