---
import Logo from "../assets/logo.svg";
---

<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="index.html" role="link" class="navbar-logo">
<span style="background-color: white; color: black; font-family: 'Inter', sans-serif; font-weight: 700; letter-spacing: 0.3px; font-size: 17px; padding: 6px 12px; border-radius: 8px;">Mohammad Hasani</span>

      </a>
    </div>
    <a href="#contact" class="text-normal">Contact</a>
  </nav>
  <img  style="border-radius: 7px;border-radius: 7px;" src="Black Liquid Minimalist Daily Quotes LinkedIn Banner.gif" alt="">

  <div class="hero">
    
    
    <h1 class="heading-1">
      Hello, everyone! You know <span
        style="text-decoration: underline;"
        class="green">Mohammad Hasani</span
      >
      <span class="green">right?</span> Let me tell you a bit about him. Mohammad
      is a <span class="violet">software engineer</span> with endless passion, turning
      lines of code into digital<span class="pink">masterpieces!</span>
      <a href="#about" role="button" class="button" style="margin-top: 40px;  ">
        <span class="button-text " >Learn more</span>
        <span class="button-box-icon">
          <i class="ri-arrow-down-line"></i>
        </span>
      </a>
    </h1>
  </div>
</header>
